{% extends 'music/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in infosong %}
    {% if p.genre_id == 1 %}
	<table class="bor">
	<td class="pic">
		{% if p.photo %}
			<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
		{% endif %}
	</td>
	<td class="text">
	<b>Пісня:</b> {{p.song_name}}<br>
	<b>Альбом:</b> {{p.album}}<br>
	<b>Мова:</b> {{p.language}}<br>
	<b>Дата випуску:</b> {{p.release_date}}<br>
	<b>Тривалість:</b> {{p.time}}<br>
	<b>Жанр:</b> {{p.genre}}<br>
		</td>
		</li>
	</table>
    {% endif %}
	{% endfor %}
</ul>
{% endblock %}