{% extends 'music/base.html' %}

{% block content %}
{% if genre_id != 0 %}
		<h1><b>Жанр: {{genre.genre_name}}</b></h1>
{% endif %}
<ul class="list-articles">
	{% for s in songs %}
	<table class="bor">
	<tr><td class="pic">
		<p><img class="img-article-left thumb" src="{{s.photo.url}}"></p>
	</td>
	<td class="text">
	<div><b>Пісня:</b><a href="{{ s.get_absolute_url }}"> {{s.song_name}}</a></div>
	<div><b>Альбом:</b> {{s.album}}</div>
	<div><b>Мова:</b> {{s.language}}</div>
	<div><b>Дата випуску:</b> {{s.release_date}}</div>
	<div><b>Тривалість:</b> {{s.time}}</div>
	{% if genre_id == 0 %}
		<div><b>Жанр:</b> <a href="{{ s.genre.get_absolute_url }}" title="Переглянути пісні жанру'{{s.genre}}'">{{s.genre}}</a></div>
	{% endif %}
	</td></tr>
	</table>
	{% endfor %}
</ul>
{% endblock %}