{% extends 'music/base.html' %}

{% block content %}
<h1><b>{{title}}</b></h1>
<table class="bor">
	<td class="pic">
		{% if singer.photo %}
			<p><img class="img-article-left thumb" src="{{singer.photo.url}}"></p>
		{% endif %}
	</td>
	<td class="text">
		<b>Прізвище, ім'я:</b> {{singer.singer_lastname}} {{singer.singer_firstname}}<br>
		<b>Група:</b> {{singer.group}}<br>
		<b>Псевдонім:</b> {{singer.pseudonym}}<br>
		<b>Біографія:</b> {{singer.bio}}<br>
		</td>
		</li>
	</table>

<h2>Пісні</h2>
	{% for s in songlist %}
	<table class="bor">
		<tr>
	<td class="pic">
		{% if s.song.photo %}
			<p><a href="{{ s.song.get_absolute_url }}"><img class="img-article-left thumb" src="{{s.song.photo.url}}"></a></p>
		{% endif %}
	</td>
	<td class="text">
	<div><b>Пісня:</b> <a href="{{ s.song.get_absolute_url }}">{{s.song.song_name}}</a></div>
	<div><b>Альбом:</b> {{s.song.album}}</div>
	<div><b>Мова:</b> {{s.song.language}}</div>
	<div><b>Дата випуску:</b> {{s.song.release_date}}</div>
	<div><b>Тривалість:</b> {{s.song.time}}</div>
		<div><b>Жанр:</b> <a href="{{ s.song.genre.get_absolute_url }}" title="Переглянути пісні жанру '{{s.song.genre}}'">{{s.song.genre}}</a></div>
		</td>
		</tr>
	</table>
	{% endfor %}
{% endblock %}