{% extends 'music/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in infosinger %}
	<table class="bor">
	<td class="pic">
		{% if p.photo %}
			<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
		{% endif %}
	</td>
	<td class="text">
		<b>Прізвище, ім'я:</b> {{p.singer_lastname}} {{p.singer_firstname}}<br>
		<b>Група:</b> {{p.group}}<br>
		<b>Псевдонім:</b> {{p.pseudonym}}<br>
		<b>Біографія:</b> {{p.bio}}<br>
		</td>
		</li>
	</table>
	{% endfor %}
</ul>
{% endblock %}