{% extends 'music/base.html' %}
{% block content %}
<h1>Завдання</h1>
<p class="space"> Метою проекту є створення системи "MusicWorld", здатної зберігати в собі певну інформацію, забезпечувати можливість отримання необхідних даних щодо запитів та їх оновлення. Для реалізації її побудови проектується база даних, яка містить таку інформацію: пісні, жанри, виконавці, автори, користувачі, інтернет-бібліотеки, які надають можливість пошуку та відбору цікавих даних про пісні. Відповідно до аналізованої предметної області, система включає такі особливості:</p>
<p class="space"> • кожна пісня представлена відповідно до її жанру;</p>
<p class="space">    • інформація про автора та виконавця вказана для кожної пісні;</p>
<p class="space">   • одна пісня може мати кілька виконавців;</p>
<p class="space">   • одна пісня може мати кілька авторів;</p>
<p class="space">   • виконавець має власний список виконаних ним пісень;</p>
<p class="space">   • автор має власний список написаних ним пісень;</p>
<p class="space">   • рейтинг пісень формується за відгуками користувачів;</p>
<p class="space">   • пісня може бути розміщена у кількох інтернет-бібліотеках. </p>
{% endblock %}