{% extends 'music/base.html' %}

{% block content %}
<title>{{title}}</title>
<table border=2" align="left" width="300" height="100">
	<tr>
        <td align="center" valign="center"><b>№</b></td>
		<td align="center" valign="center"><b>Користувач</b></td>
        <td align="center" valign="center"><b>Пісня</b></td>
        <td align="center" valign="center"><b>Оцінка</b></td>

    </tr>
  {% for s in inforating %}
    <tr>
        <td align="center" valign="center">{{s.id}}</td>
        <td align="center" valign="center"><em>{{s.user}}</em></td>
        <td align="center" valign="center"><em>{{s.song}}</em></td>
        <td align="center" valign="center"><em>{{s.user_grade}}</em></td>
    </tr>
  {% endfor %}
</table>
</div>
{% endblock %}