html, body {
    background-image: url('../images/djbackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
	font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

table.bor {
    border-bottom: 40px solid #0000ff00;
   }

  td.text {
    padding: 0px 0px 100px 30px;
    width: 1170px;
	height: 0px;
	background: #eee;
    opacity: 0.6;
    font-size: 15pt;
    line-height: 1.5;
   }

  td.pic {
    width: 100px;
	height: 100px;
   }

 p.space {
    text-indent: 20px;
    margin-top: 0em;
    margin-bottom: 0.1em;
   }

a {
	font-size: 17pt;
	text-decoration: none;
	text-transform: uppercase;
}

.table-page {
	width: 100%;
	height: 100%;
}

.logo {
	background: url('../images/logo.png') no-repeat 0px 0px;
	width: 58px;
	height: 60px;
	margin-left: 60px;
    margin-bottom: 25px;
}

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.left-chapters {
    z-index: 1;
	margin: 0;
	width: 210px;
	color: #fff;
	border-right: 1px solid #ccc;
	min-height: 100%;
    background: #eee;
    opacity: 0.6;
	padding: 20px 10px 10px 20px;
}

.left-chapters ul {
	width: 170px;
	min-height: 100%;
	margin: 0;
	list-style: none;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.left-chapters ul li {
	margin: 10px 0 0 0;
	color: #999;
	font-size: 17pt;
	text-decoration: none;
	text-transform: uppercase;
}

.left-chapters ul li a {
	color: #000;
	text-decoration: none;
}

.left-chapters ul li a:hover { color: #a9a9a9; }

.content {
	padding: 0px 170px 0px 100px;
}

.content-text {
	margin: 60px 0 0 30px;
	color: #000;
	font-size: 20px;
}